.taskTable {
    width: 60%;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

.taskTable table {
    width: 100%;
    margin-top: 30px;
    border: 1px solid gray;
    
}

.taskTable table thead th {
    background-color: darkcyan;
    color: white;
}

.taskTable table tbody td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    
}

.noData {
    text-align: center;
    margin-top: 20px;
}