.addTaskForm {
    width: 100%;


}

.addTask {
    width: 50%;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

.box {
    width: 700px;
    margin: 50px auto;
    background-color: rgb(235, 181, 181);

    border-radius: 15px;
    box-shadow: 1px 1px 8px rgb(8, 8, 8);
}

.addTask h3 {
    font-weight: bold;
    color: rgb(224, 48, 48);
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.addTask input {
    border: 1px solid black;
}

.addTask textarea {
    border: 1px solid black;
}